.main {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  overflow: hidden;

  .cast {
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    position: absolute;

    overflow: auto;
    transform: translate(-50%, -50%);
    // // border: 1px dashed var(--primary-color);
    // border-radius: 10px;
    // box-shadow: inset 0 0 20px rgb(0 0 0 / 5%);

    -ms-overflow-style: none;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .scrollIndicator {
    width: 50%;
    height: 40px;
    bottom: 25%;
    position: absolute;

    background-color: var(--primary-background-color);

    span {
      $size: 10px;
      @keyframes moveUpDown {
        0% {
          bottom: 0;
          opacity: 1;
        }
        50% {
          bottom: 25px;
          opacity: 0;
        }
        100% {
          bottom: 0;
          opacity: 1;
        }
      }

      width: $size;
      height: $size;
      left: 50%;
      bottom: 0;
      position: absolute;

      animation: moveUpDown 1.5s infinite;
      transform: translate(-50%, -50%) rotate(45deg);

      border: 2px solid var(--primary-color);
      border-top: none;
      border-left: none;
    }
  }
}

.scrollContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scrollCard {
  border-radius: 10px;

  p {
    margin: 0;
    margin-inline: auto;
    max-width: 50%;

    font-size: 18px;
    text-align: justify;
  }

  h2 {
    position: relative;
    width: max-content;
    margin: 10px auto;
    padding: 0;
    padding-bottom: 2px;

    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    span {
      $offset: 10px;
      top: 25%;
      width: 50px;
      height: 2px;
      z-index: 100;
      position: absolute;

      margin: $offset 0;

      opacity: 0.5;
      background-color: var(--primary-color);
      &:first-child {
        left: -$offset;
        transform: translateX(-100%);
      }
      &:last-child {
        right: -$offset;
        transform: translateX(100%);
      }
    }
  }
}
