@import "../../styles/variables";

.main {
  margin: 15px 0;

  font-size: 11px;
  text-align: center;
}

@media screen and (max-width: $break_point-mobile) {
  .main {
    margin: 5px 0;
    font-size: 8px;
  }
}
