@import "../../styles/variables";

.main {
  bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 15px 0;
  padding: 0;

  ol {
    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;

    list-style: none;

    li {
      margin: 0;
      padding: 0;
      padding-inline: 20px;
      border-left: 2px solid var(--primary-color);

      font-weight: 700;
      text-align: center;
      text-transform: capitalize;
      &:first-child {
        border: none;
      }
    }
  }
}

@media screen and (max-width: $break_point-mobile) {
  .main {
    margin: 10px;
    ol li {
      font-size: 12px;
    }
  }
}
