@font-face {
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-family: "Sigvar-Serial";
  src: url("../public/fonts/Sigvar-Serial-Bold.eot");
  src: url("../public/fonts/Sigvar-Serial-Bold.eot") format("embedded-opentype"),
    url("../public/fonts/Sigvar-Serial-Bold.woff2") format("woff2"),
    url("../public/fonts/Sigvar-Serial-Bold.woff") format("woff"),
    url("../public/fonts/Sigvar-Serial-Bold.ttf") format("truetype");
}

:root {
  --primary-color: #2e2e2e;
  --primary-background-color: #dddfe9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;

  color: var(--primary-color);
  background-color: var(--primary-background-color);
  // background: url("../public/media/background.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;

  // font-family: "Sigvar-Serial", "-apple-system", "Segoe UI", "sans-serif";
  font-family: "Segoe UI", "Helvetica Neue", "sans-serif";
}

a {
  color: inherit;
  text-decoration: none;
}

.artBox {
  width: 600px;
  height: 600px;
  position: fixed;

  transform: scale(0.75);

  background: url("../public/art.png");
}

// Browser preffered color schemes

// @media (prefers-color-scheme: dark) {
//   :root {
//     --primary-color: #ffffff;
//     --primary-background-color: #000000;
//   }
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     --primary-color: #000000;
//     --primary-background-color: #ffffff;
//   }
// }
