@import "./variables";
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // Fonts
  --font-main: "Poppins", "Segoe UI";
  --font-secondary: "Sigvar-Serial";
  --font-fallback: "Helvetica Neue", "sans-serif";

  // Color scheme
  --primary-color: black; // #eff4fc; // #2e2e2e;
  --primary-background-color: white; // #1e1e1e; // #dddfe9;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

  color: var(--primary-color);
  background-color: var(--primary-background-color);
  // background: url("../public/media/background.jpg");
  // background-size: cover;
  // background-repeat: no-repeat;

  font-family: var(--font-main), var(--font-secondary), var(--font-fallback);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  max-width: 100vw;

  & > * {
    max-width: 80vw;
    max-height: 100vh;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.artBox {
  width: 600px;
  height: 600px;
  z-index: 990;
  position: fixed;

  transform: scale(0.75);

  background: url("../public/art.png");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary), var(--font-fallback);
}

@media screen and (max-width: $break_point-mobile) {
  body {
    // display: none; // temporarily disable rendering for mobile browsers
  }
  [data-bp-hide-mobile] {
    display: none;
  }
}

@media screen and (max-width: $break_point-tablet) {
  [data-bp-hide-tablet] {
    display: none;
  }
}

// Browser preffered color schemes

// @media (prefers-color-scheme: dark) {
//   :root {
//     --primary-color: #ffffff;
//     --primary-background-color: #000000;
//   }
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     --primary-color: #000000;
//     --primary-background-color: #ffffff;
//   }
// }
